<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Text Utilizer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
    <h1 style="text-align: center;">Enter your text to be anylzed!</h1>
    <form action="/removepunctuations" method="post"> {% csrf_token %}
        <div class="mb-3 container">
            <textarea name="text" class="form-control form-control-lg" rows = "5"></textarea><br>
        </div>
        <div class="container">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="removepunctuations">
                <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
            </div>
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" role="switch" name="removespaces">
                <label class="form-check-label" for="flexSwitchCheckDefault">Remove Spaces</label>
            </div>
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" role="switch" name="capitalize">
                <label class="form-check-label" for="flexSwitchCheckDefault">Capitalize</label>
            </div>
            <button class="btn btn-primary" style = "margin-top: 10px;" type = "submit">Analyze text</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>